@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body{
    background-color: #d8dee8;
    font-family: 'Cinzel', serif;

}


/*
This is where the styling is done for showing individual horse entries
*/


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-width: .3vh;
    border-style: solid;
    border-radius: 8px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2.3vh;
    text-align: center;
    padding: auto;

    border-right: .3vh solid black;
    border-bottom: .3vh solid black;

  }

  .blue{
      background-color: #cbebf5;
  }

  .white{
      background-color: #e6eff2;
  }



  .healthInfo{
    text-align: center;
      border-style: solid;
      background-color: #cbebf5;
      border-radius: 8px;
      border-width: .3vh;  
  }

.carousel{
  width: 80%;
  margin: auto;
}


.card-img-top{
  width: 100%;
  height: 55vw;
  object-fit: cover;
}

.cardSize{
  width: 100%;
  height: 45vw;
  object-fit: cover;
}


/*
Inside this is where changes are made specifically for desktop
*/

@media only screen and (min-width: 768px){
  .carousel{
    width: 40%;
    margin: auto;
  }

  .cardSize{
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

  .card-img-top{
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }

}